<header role="banner">
    <nav class="navbar shadow border-b py-4 mb-20 bg-red" role="navigation" aria-label="main navigation">
        <div class="max-w-screen-2xl flex justify-between items-center mx-auto px-4">
            <div>
                <a href="/" class="text-2xl text-white">
                    <div class="rounded-full bg-white inline-block p-2">
                        <img src="./logo.svg" class="max-h-16 inline-block fill-white" />
                    </div>
                    <p class="inline-block">renelle</p>
                </a>
            </div>
            <div class="text-white font-bold flex align-center uppercase">
                <a href="https://docs.renelle.org" class="mx-2 underline">docs</a>
                <a href="https://github.com/alexstory/renelle" class="mx-2 underline">github</a>
            </div>
        </div>
    </nav>
</header>